:root{--primary-color:#4d5ae5;;
    --button-background-color:#F4F4FD;
    --title-color:#2e2f42;
    --section-color:#434455;
    --white-color:#FFFFFF;
    --focushover-color:#404bbf;
--button-color:#e7e9fc;}
    
    ::after, ::before{box-sizing: border-box}
    
    
    body{font-family: "Roboto", sans-serif; color:#434455; background-color: var(--white-color)}
    
    .web{font-family: "Raleway", sans-serif; font-weight: 800; font-size: 18px; line-height: 1.17; letter-spacing: 0.03em; text-transform: uppercase; color: var(--primary-color); margin-right: 76px;}
    
    .link{text-decoration: none;}
    
    .studio {color: var(--title-color); }
    
    .list{list-style: none}
    
    .astudio{font-weight: 500; font-size: 16px; line-height: 1.5; letter-spacing: 0.02em; color: var(--title-color); padding: 24px 0; display:block;}
    
    .astudio:focus{color: var(--focushover-color);}
    
    .astudio:hover{color: var(--focushover-color)}
    
    .footerweb2{text-decoration: none}
    
    .mailandtel{color: var(--section-color); font-family: "Roboto"; font-size: 16px; font-weight: 400; font-style: normal}
    
    .hero{background-color: var(--title-color); padding: 188px 0;}
    
    .container{
        width: 1158px ;
        margin-left: auto ;
        margin-right: auto ;
        padding-left: 15px ;
        padding-right: 15px ;
    }
    
 
    
    .hero-title{line-height: 1.07; text-align: center; letter-spacing: 0.02em; color: var(--white-color); font-size: 56px; max-width: 496px; margin: 0px auto; margin-bottom:48px;}
    
    .hero-button{background-color: var(--primary-color); color:var(--white-color); cursor: pointer; font-family: Roboto, sans-serif; font-weight: 500; font-size: 16px; line-height: 1.5; letter-spacing: 0.04em; display:block; min-width: 169px; height: 56px; border:none; border-radius:4px; margin-left :auto; margin-right: auto;}
    
    .pluses{padding: 120px 0;}
    
    .service:focus{background-color: var(--focushover-color);}
    
    .service:hover{background-color: var(--focushover-color)}
    
    .strategy{color:var(--title-color); font-weight: 500; font-size: 20px; line-height: 1.2; letter-spacing: 0.02em; margin:0; padding:0; margin-bottom: 8px;}
    
    .problem{color: var(--section-color);  font-size: 16px; line-height: 1.5; letter-spacing: 0.02em; margin:0; padding:0;}
    
    .responsibilities_title{font-size: 36px; line-height: 1.11; text-align: center; letter-spacing: 0.02em; text-transform: capitalize; color: var(--title-color); margin:0 auto; margin-bottom: 72px; padding:0;}
    
    .responsibilities{padding-bottom: 120px}
    
    .team{background-color: var(--button-background-color); padding: 120px 0;}
    
    .item{background-color:var(--white-color)}
    
    .name{font-weight: 500; font-size: 20px; line-height: 1.2; letter-spacing: 0.02em; color: var(--title-color); margin:0; padding:0; text-align: center; margin-bottom: 8px;}
    
    .position{color:var(--section-color); font-size: 16px; line-height: 1.5; letter-spacing: 0.02em; text-align:center;}
    
    .studio_i{color: var(--button-background-color)}
    
    .i_footer_p{line-height: 1.5; color: var(--button-background-color); letter-spacing: 0.02em; margin:0; padding:0; width:264px; }
    
    .button{font-family: "Roboto", sans-serif; font-weight: 500; font-size: 16px; line-height: 1.5; letter-spacing: 0.04em; cursor: pointer;color: var(--primary-color);background-color: var(--button-background-color); padding: 12px 24px;border: 1px solid var(--button-color);border-radius: 4px;}
    
    .button:focus{color: var(--white-color); background-color: var(--focushover-color); border: 1px solid transparent}
    
    .button:hover{color:var(--white-color); background-color: var(--focushover-color); border: 1px solid transparent}
    
    .icontact{font-size: 16px; line-height: 1.5; letter-spacing: 0.02em; color: var(--section-color); padding: 24px 0;}
    
    .icontact:hover{color: var(--focushover-color)}
    
    .icontact:focus{color: var(--focushover-color)}
    
    .banking_app{font-weight: 500; font-size: 20px; line-height: 1.2; letter-spacing: 0.02em; color:var(--title-color); margin-bottom: 8px}
    
    .app{font-size: 16px; line-height: 1.5; letter-spacing: 0.02em;color:var(--section-color); }
    
    .pfooter{background-color: var(--title-color); padding: 100px 0 }
    
    .logo{font-family: "Raleway", sans-serif; font-weight: 800; font-size: 18px; line-height: 1.17; letter-spacing: 0.03em; text-transform: uppercase;color: var(--primary-color); display:inline-block; margin-bottom:16px; }
    
    .address{font-style:normal; margin-left:auto;}
    
    h1,h2,h3,h4,h5,h6,p{margin:0}
    
    ul,ol{list-style:none;
    padding-left:0;
    margin:0}
    
    a{text-decoration:none;
    color: inherit}
    
    
    img{display:block;
    max-width: 100%;
    height: auto}
    
    .visually-hidden {position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;}
    
        .pluses_list{display:flex; gap:24px}
    
        .pluses_list_item{flex-basis: calc((100% - 72px) / 4)}
    
        .studio_list{display: flex; gap: 40px;}
    
        .nav{display:flex; align-items: center;}
    
    .address_list{display:flex; gap: 40px;}
    
    .address_list_item{flex-basis: calc((100% - 40px) / 2)}
    
    .header-container{display:flex; align-items: center;}
    
    .header{border-bottom: 1px solid #e7e9fc}
    
    .button_list{display:flex; gap:24px; justify-content: center; margin-bottom: 72px}
    
    .catalog{padding-top: 96px; padding-bottom:120px}
    
    .card_set{display: flex; flex-wrap: wrap; gap: 24px; row-gap:48px}

    .card{width: calc((100% - 48px) / 3);}
    
    .responsibilities_list{display:flex; gap: 24px;}
    
    .responsibilities_list_item{flex-basis: calc((100% - 24px * 2) / 3)}
    
    .team_list{display:flex; gap: 24px}
    
    .team_list_item{flex-basis: calc((100% - 24px * 3) /4); border-radius: 0px 0px 4px 4px;}

    .name_position{padding: 32px 0;}

    .card-container{padding: 32px 16px; border: 1px solid #e7e9fc; border-top: none;}
    
    
    
    
    
    
    
    
    